<div class="header">
    <a class="header__logo">Y</a>
    <ul class="header__action-list">
        <li class="header__action-item">
            <a class="header__action-link header__action-link--active" href="#">Top</a>
        </li>
        <li class="header__action-item">
            <a class="header__action-link" href="#">New</a>
        </li>
    </ul>
</div>

<section *ngIf="newsItems && newsItems.length">
    <table class="table">
        <tbody class="table__body">
            <tr class="table__row" *ngFor="let newsItem of newsItems">
            <app-news-item [newsItem] ="newsItem" (removeNewsItem)="removeNewsItem($event)" ></app-news-item>
            </tr>
    </table>
    <div class="load-more" *ngIf="!showLoader && query?.nbPages > query?.page">
        <a class="load-more__link" (click)="loadMore()">More</a>
    </div>
  </section>
  <figure *ngIf="showLoader" class="loader">
      <img class="loader__img" src="assets/images/loader.gif" alt="loading" />
  </figure>