
$c-bg-color-primary: #f6f6f0;
$c-bg-color-secondary: #e6e6e0;
$c-black: #000;

.table {
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
  

  &__row {
    background-color: $c-bg-color-primary;

    &:nth-child(2n) {
      background-color: $c-bg-color-secondary;
    }
  }
  &__link {
    display: inline-block;
    cursor: pointer;

    &--general {
      text-decoration: none;
      color: $c-black;
    }
  }

  &__data {
    padding: 8px 10px;
    min-width: 80px;

    @media (min-width: 768px) {
        padding:8px 5px;
      }
      
    &--align-right {
      text-align: right;
    }

    &--align-center {
      text-align: center;
    }
  }
}